body{

    background-color: #dbdad6;


    /*sizes*/
    width: 100%;
    min-height: 100%;
    min-width: 320px;
    font-size: 100%;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    overflow-x: hidden;
    font-family: 'Nunito sans', sans-serif;
}

.circlecenter{
    width: 500px;
    height: 500px;
    object-fit: contain;
    
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    

}
  .darksofaarch{
    clip-path: ellipse(60% 60% at 50% 70%);
    display: flex;
    
  }
  .bedmirror{
    padding: 60px;
    display: flex;
    width: 720px;
    height: 1080px;
    overflow: hidden;
    clip-path: ellipse(100% 50% at 50% 90%);

  }
  .container{
    display: flex;
    text-align: justify;
    gap: 60px;
    align-items: center;
    padding: 60px;
  }
  .par-text-intr{
font-family: 'Nunito sans', sans-serif;
font-size: larger;

  }