body {
    background-color: #dbdad6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}


header {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    z-index: 100;
    position: relative;
}

.vertical__line {
    margin-bottom: 0px;
    width: 1px;
    height: 30px;
    background-color: black;
    margin-left: 10px;

}



.pfp__pic {
    top: 50%;
    border-radius: 50%;


}

.image__pfp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__pfp__wrap {
    position: absolute;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
    transform: translateY(150px);
    background: none;
    z-index: 97;
}

.text__pfp__wrap__austine {
    background-color: transparent;
    transform: translateX(-200px);
    font-size: 140px;
    font-family: 'Dancing script';
}

.text__pfp__wrap__ochieng {
    background-color: transparent;
    transform: translateX(220px);
    font-size: 140px;
    font-family: 'Dancing script';
}

.text__pfp__wrap__inside {
    position: absolute;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
    transform: translateY(150px);
    background: none;
    z-index: 95;

}

.text__pfp__wrap__austine__inside {
    background-color: transparent;
    transform: translateX(-200px);
    font-size: 140px;
    font-family: 'Dancing script';
    color: #fcf9ce;
}

.text__pfp__wrap__ochieng__inside {
    background-color: transparent;
    transform: translateX(220px);
    font-size: 140px;
    font-family: 'Dancing script';
    color: #fcf9ce;
}

.darktable {
    display: flex;
    margin-top: 96px;

    width: 350px;
    height: 550px;
}

.about__ {
    display: flex;
    margin: 20px;
    font-size: 18px;
    flex-direction: column;
    font-family: 'Nunito sans', Courier, monospace;
    font-weight: 700;
    color: #20211f;

}

.darktableandparagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    gap: 20px;
}

.image_paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Nunito sans', Courier, monospace;
    font-weight: normal;
    line-height: 28px;
    margin: 50px;
    color: #20211f;

}

.about_me {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-family: 'Nunito sans', Courier, monospace;
    margin: 50px;
}