body {
    background-color: #dbdad6;
}

.container {}


header {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    z-index: 100;
    position: relative;
}

.vertical__line {
    margin-bottom: 0px;
    width: 1px;
    height: 30px;
    background-color: black;
    margin-left: 10px;

}

.text__pfp__wrap {
    position: absolute;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
    transform: translateY(150px);
    background: none;
    z-index: 97;


}

.pfp__pic {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    z-index: 95;
    

}

.image__pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateZ(-200px); */
}

.text__pfp__wrap__austine {
    background-color: transparent;
    transform: translateX(-200px);
    font-size: 140px;
    font-family: 'Dancing script';
}

.text__pfp__wrap__ochieng {
    background-color: transparent;
    transform: translateX(220px);
    font-size: 140px;
    font-family: 'Dancing script';
}

.text__pfp__wrap__inside{
    position: absolute;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
    transform: translateY(150px);
    background: none;
    z-index: 95;

}
.text__pfp__wrap__austine__inside{
    background-color: transparent;
    transform: translateX(-200px);
    font-size: 140px;
    font-family: 'Dancing script';
    color: #fcf9ce;
}
.text__pfp__wrap__ochieng__inside{
    background-color: transparent;
    transform: translateX(220px);
    font-size: 140px;
    font-family: 'Dancing script';
    color: #fcf9ce;
}